* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: block;
    min-height: 100vh;
    background: radial-gradient(circle, rgba(44, 62, 80, 1) 0%, rgba(44, 62, 80, 0.9) 100%);
}
#MWalletLogo {
    width: 9.5rem;
    height: 3.5rem;
}
.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0 8%;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    z-index: 99;
}
.navigation a {
    position: relative;
    font-size: 1em;
    font-weight: 500;
    margin-left: 40px;
    text-decoration: none;
    color: #F1C40F;
}

    .navigation a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -6px;
        width: 100%;
        height: 3px;
        background: #2C3E50;
        border-radius: 5px;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform 0.5s;
    }

    .navigation a:hover::after {
        transform-origin: left;
        transform: scaleX(1);
    }

   

main {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.loginForm,
.createAccountForm,
.forgotPassword,
.resetPasswordForm {
    align-self: center;
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.5);
/*    box-shadow: 0 0 50px rgba(0,0,0,.8);
*/    border-radius: 0.8rem;
    border: none;
    outline: none;
}

.form_title {
    color: #2A3166;
    font-weight: bold;
}

.form-hidden {
    display: none;
}

.form_input,
.form_button {
    font: 500 1rem;
    margin-bottom: 2%;
}
.form_input {
    color: rgba(44, 62, 80, 0.8);
    margin-top: 1.5rem;
}
    .form > *:first-child {
        margin-top: 0;
    }

.form > *:last-child {
    margin-bottom: 0;
}

.inputPass {
    display: flex;
    position: relative;
}
    .inputPass .eye-icon {
        position: absolute;
        right: 5%;
        top: 50%;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_253_2)'%3e%3cpath d='M12 4.5C7 4.5 2.73 7.61 1 12C2.73 16.39 7 19.5 12 19.5C17 19.5 21.27 16.39 23 12C21.27 7.61 17 4.5 12 4.5ZM12 17C9.24 17 7 14.76 7 12C7 9.24 9.24 7 12 7C14.76 7 17 9.24 17 12C17 14.76 14.76 17 12 17ZM12 9C10.34 9 9 10.34 9 12C9 13.66 10.34 15 12 15C13.66 15 15 13.66 15 12C15 10.34 13.66 9 12 9Z' fill='%235F6368'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_253_2'%3e%3crect width='24' height='24' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
        width: 24px;
        height: 24px;
    }
.form_message {
    text-align: center;
    margin-bottom: 1rem;
}

.form_message--success {
    color: green;
}

.form_message--error {
    color: red;
}


.form_input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: 0.8rem;
    border: 1px solid #dddd;
    outline: none;
    background: transparent;
/*    box-shadow: 0 0 50px rgba(0,0,0,1.5);
*/    transition: background 0.2s, border-color 0.2s;
}

    .form_input:focus {
        border-color: #2A3166;
        background-color: #ffffff;
    }

.form_input-error {
    color: red;
    border-color: red;
}

.form_input-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: red;
}

.form_button {
    width: 100%;
    padding: 0.5rem 2rem;
    font-weight: bold;
    font-size: 1.2rem;
    color: #2C3E50;
    border: none;
    outline: none;
    border-radius: 0.8rem;
    cursor: pointer;
    background-color: #1ABC9C;
    margin-top: 1.5rem;
}

    .form_button:hover {
        background: #48D1AF;
        filter: brightness(1.2);
    }

    .form_button:active {
        transform: scale(0.98);
    }

.form_text p {
   
    color: #2C3E50;
}
.form_text a {
    color: #2C3E50;
}
.form_link {
    color: #2A3166;
    text-decoration: none;
    cursor: pointer;
}

    .form_link:hover {
        text-decoration: underline;
    }


.form_text {
   margin-top: 1.5rem;
    text-align: center;
    color: #2C3E50;
}





